<html>
  <head>
   <meta charset='utf-8'>
   <meta name='generator' content='<%= Pluto.generator %>'>
   <title><%= site.title %></title>

   <%= stylesheet_link_tag 'top' %>
  </head>
  <body>
    
<h1><%= site.title %></h1>

<!-- use a table w/ three colums -->

<table>
  <colgroup>
    <col width='33%'>
    <col width='33%'>
    <col width='33%'>
  </colgroup>
<tr>

<!-- check/fix: check if it will work w/o .all. - depreciated in rails 4+ -->
<%  site.feeds.latest.all.in_columns(3).each do |feeds| %>
<td valign='top'>
  <!-- start new column -->

  <% feeds.each do |feed| %>


<div class='feed'>
<h3><a href='<%= feed.url %>'><%= feed.title %></a></h3>
<table>
  <!-- todo:
     include latest 11 (more than 4 add hidden
       plus add a more toggle button to show all 11!! )
    -->
  <% feed.items.latest.limit(4).each do |item|
     
      ## todo: use markdownify in future version
    item_summary_plain_text = strip_tags( item.summary )
    item_summary_plain_text.gsub!( '"', "'" )
    item_summary_plain_text.gsub!( /(http|https):\/\//m, '' )
    item_summary_plain_text.gsub!( /&nbsp;/, ' ' )
    item_summary_plain_text.gsub!( /[ \t]{3,}/, '  ' ) # keep no more than two spaces
    item_summary_plain_text.gsub!( /\n{2,}/m, "\n\n" ) # keep no more than two new lines
    item_summary_plain_text.gsub!( /[ \t\n]+$/m, '' ) # remove all trailing spaces
    item_summary_plain_text.gsub!( /^[ \t\n]+/m, '' ) # remove all leading spaces

    ## todo: unescape all &xx; entities -html and unicode - how?

    item_summary_plain_text = item_summary_plain_text[0..700]
  %>
    <tr>
     <td valign='top'>
      <span class='item-published'>
          <!-- fix/todo: show year if not current year
             e.g. use "%b %d, '%y"
          -->
        <%= item.published_at.strftime("%b %d") %>
      </span>
     </td>
     <td>
       <span class='item-title'>
           <a href='<%= item.url %>' title="<%= item_summary_plain_text %>">
              <%= item.title %>
           </a>
       </span>
       <span class='item-time-ago-in-words'><%= time_ago_in_words( item.published_at ) %></span>
     </td>
    </tr>
  <% end %><!-- each item -->
</table>
</div>


  <% end %><!-- each feed (inside column) -->
 </td>
<% end %><!-- each column-->
  </tr>
</table>

</body>
</html>
